{% load static %}
{% extends 'base.html' %}
{% block title %}Детали брони{% endblock %}
{% block content %}
<h1>Детали брони</h1>
{% if error %}
  <div class="alert alert-danger">{{ error }}</div>
{% endif %}
<div class="card">
    <p><strong>ID:</strong> {{ reservation.id }}</p>
    <p><strong>Клиент:</strong> {{ reservation.customer.name }}</p>
    <p><strong>Стол:</strong> {{ reservation.table.number }}</p>
    <p><strong>Дата:</strong> {{ reservation.date }}</p>
    <p><strong>Статус:</strong> {{ reservation.get_status_display }}</p>
</div>

<!-- Форма для обновления статуса брони -->
<form method="post">
    {% csrf_token %}
    <div class="form-group mt-3">
        <label for="status">Обновить статус:</label>
        <select name="status" id="status" class="form-control">
            {% for key, value in reservation.STATUS_CHOICES %}
              <option value="{{ key }}" {% if reservation.status == key %}selected{% endif %}>{{ value }}</option>
            {% endfor %}
        </select>
    </div>
    <button type="submit" class="btn btn-primary mt-2">Обновить статус</button>
</form>

<!-- Ссылка для удаления брони -->
<form method="post" action="{% url 'reservation_delete' reservation.id %}" class="mt-3">
    {% csrf_token %}
    <button type="submit" class="btn btn-danger">Удалить бронь</button>
</form>

<a href="{% url 'reservations_by_user' reservation.customer.id %}" class="btn btn-secondary mt-3">Вернуться к броням клиента</a>
{% endblock %}
