{% extends 'base.html' %}
{% block title %}Детали бронирования{% endblock %}

{% block content %}
<h2>Детали бронирования</h2>
<p><strong>Клиент:</strong> {{ reservation.customer.username }}</p>
<p><strong>Стол:</strong> {{ reservation.table.id }}</p>
<p><strong>Дата:</strong> {{ reservation.date }}</p>
<p><strong>Время:</strong> {{ reservation.time }}</p>
<p><strong>Статус:</strong> {{ reservation.get_status_display }}</p>

<form method="post">
    {% csrf_token %}
    <label for="status">Изменить статус:</label>
    <select name="status">
        {% for key, value in reservation.STATUS_CHOICES %}
            <option value="{{ key }}">{{ value }}</option>
        {% endfor %}
    </select>
    <button type="submit" class="btn btn-primary">Обновить</button>
</form>

<form method="post" action="{% url 'reservations:reservation_delete' reservation.id %}">
    {% csrf_token %}
    <button type="submit" class="btn btn-danger mt-2">Удалить бронь</button>
</form>
{% endblock %}
