{% extends 'base.html' %}
{% block title %}Список бронирований{% endblock %}

{% block content %}
<h2>Список бронирований</h2>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Клиент</th>
            <th>Стол</th>
            <th>Дата</th>
            <th>Время</th>
            <th>Статус</th>
            <th>Действия</th>
        </tr>
    </thead>
    <tbody>
        {% for reservation in reservations %}
        <tr>
            <td>{{ reservation.id }}</td>
            <td>{{ reservation.customer.username }}</td>
            <td>{{ reservation.table.id }}</td>
            <td>{{ reservation.date }}</td>
            <td>{{ reservation.time }}</td>
            <td>{{ reservation.get_status_display }}</td>
            <td>
                <a href="{% url 'reservations:reservation_detail' reservation.id %}" class="btn btn-info">Детали</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
