{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="jumbotron">
    <h1 class="display-4">Welcome to My Table Reservation System</h1>
    <p class="lead">This is a simple table reservation system built with Django.</p>
    <hr class="my-4">
    <p>Use the navigation bar to manage customers, tables, and reservations.</p>
    <a class="btn btn-primary btn-lg" href="{% url 'customer-list-create' %}" role="button">Manage Customers</a>
</div>
{% endblock %}